<main id="main">
    <h1>Welcome {{user.name}}</h1>
    <section id="section-a">

        <div class="danisan-container">
            <table class="danisan-table">
                <tr>
                    <th>No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
                {{#each client}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td><a href="/clients/{{id}}" class="btn btn-primary">Detay</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </section>
</main>