{{>navbar}}

<main id="main">
    <h1>Welcome {{user.name}}</h1>
    <section id="section-a">
        <div class="btn-list">
            <a href="/clients/new" class="btn btn-primary">Add New Client</a>
            <a href="/calculator/bmi" class="btn btn-primary">BMI Calculator</a>
            <a href="/calculator/total_energy_need" class="btn btn-primary">Energy Need</a>
        </div>
        <div class="danisan-container">
            <table class="danisan-table">
                <tr>
                    <th>No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
                {{#each clients}}
                {{#each this}}
                {{#if firstName}}
                <tr>
                    <td>{{no}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td><a href="/clients/{{_id}}" class="btn btn-primary">Detay</a></td>
                </tr>
                {{/if}}
                {{/each}}
                {{/each}}
            </table>
        </div>
    </section>
</main>